.red {
    color: white; background-Color: #EA4335
}

.green {
    color: white; background-Color: #34A853
}

.yellow {
    color: white; background-Color: #FBBC05
}

.black {
    color: white; background-Color: #4D4D4D
}

.ash {
    color: white; background-Color: #999999
}

.blue {
    color: white; background-Color: #4285F5
}

.lav {
    color: white; background-Color: #a796c9
}